<div class="source-meta">
    <table>
        <tr>
            <th colspan=2 class="header-rounded">
                <span class="lead">Source Metadata</span>
            </th>
        </tr>
<!--         <tr>
            <td>
                <p class="lead" style="text-align: center;">
                    <small>Imported from Pharon</small>
                </p>
            </td>
        </tr> -->
        {% if meta.data %}
            {% for meta in meta.data %}
                <tr class="{% cycle '' 'alt' %}">
                    <th>{{ meta.name }}</th>
                    <td title="{{ meta.value }}">{{ meta.value|truncatewords:6 }}</td>
                </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td><p>This source has no meta data.</p></td>
        </tr>
        {% endif %}
    </table>
</div>
